<html>
  <script>
    function ConfirmDelete() 
    {
        var x = confirm("Are you sure you want todelete?");
        if (x)
         return true; 
        else
         return false; 
    }
  </script>
  <body>
    {{!-- {{include('../header');}}   --}}

    <h1>Display Table</h1>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Category Mobile</th>
        <th>Action</th>
      </tr>
      {{#each category_array}}
        <tr>
            <td>{{@index}}</td>
          <td> {{_id}} </td>
          <td>{{c_name}}</td>
          {{!-- <td>{{c_mobile}} </td> --}}
          <td>
            <a href="/category/edit/{{_id}}">Edit</a>
            |
            <a href="/category/delete/{{_id}}" Onclick="ConfirmDelete()">Delete</a>
            |
            <a href="/category/show/{{_id}}">Show</a>
          </td>
        </tr>
      {{/each}}
    </table>

  </body>
</html>