<html>
<body>
       

    <h1>Display Table</h1>
     <table border='1'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
            <th>IdAdmin</th>
            <th>Join Date</th>
            <th>Action</th>
        </tr>
        {{#each user_array }}
        <tr>
            {{!-- <td>{{ i+1 }}</td>  --}}
             <td> {{@index}}</td>
            <td>{{ user_name }}</td>
            <td>{{ user_gender }}</td>
            <td>{{ user_dob }}</td>
            <td>{{ user_mobile }}</td>
            <td>{{ user_email }}</td>
            <td>{{ user_password }}</td>
            <td>{{ user_isadmin }}</td>
            <td>{{ user_joindate }}</td>   
            <td> <a href="/edit-table/{{ _id }}">Edit</a> 
                 <a href="/delete-user/{{ _id }}">Delete</a>
                 <a href="/show-user/{{ _id }}">Show</a> 
        </tr>
        {{/each}}
    </table>    
    
</body>
</html>