<table>
    <tbody>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> {{ product_array._id }} </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>:</td>
            <td> {{product_array.p_name }} </td>
        </tr>
        <tr>
            <td>Product Details</td>
            <td>:</td>
            <td> {{product_array.p_details}}  </td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td>:</td>
            <td> {{product_array.p_price}}  </td>
        </tr>
        <tr>
            <td>Product Image</td>
            <td>:</td>
            <td> {{product_array.p_img}}  </td>
        </tr>
        <tr>
            <td>Product Quntity</td>
            <td>:</td>
            <td> {{product_array.p_qty}}  </td>
        </tr>
    </tbody>
</table>