<table>
    <tbody>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> {{ user_array._id }} </td>
        </tr>
        <tr>
            <td>User Name</td>
            <td>:</td>
            <td> {{user_array.user_name }} </td>
        </tr>
        <tr>
            <td>User Gender</td>
            <td>:</td>
            <td> {{user_array.user_gender}}  </td>
        </tr>
        <tr>
            <td>User Date of Birth</td>
            <td>:</td>
            <td> {{user_array.user_dob}}  </td>
        </tr>
        
        <tr>
            <td>User Mobile</td>
            <td>:</td>
            <td> {{user_array.user_mobile}}  </td>
        </tr>
        <tr>
            <td>User Email</td>
            <td>:</td>
            <td> {{user_array.user_email}}  </td>
        </tr>
        <tr>
            <td>User Password</td>
            <td>:</td>
            <td> {{user_array.user_password}}  </td>
        </tr>
        <tr>
            <td>User Is Admin ?</td>
            <td>:</td>
            <td> {{user_array.user_isadmin}}  </td>
        </tr>
        <tr>
            <td>User Joining Date</td>
            <td>:</td>
            <td> {{user_array.user_joindate}}  </td>
        </tr>
    </tbody>
</table>