<html>
    <head>
    <a href="add">Add City</a> | <a href="display">Display city</a> <br>
    <a href="../country/add">Add Country</a> | <a href="../country/display">Display Country</a><br>
    <a href="../state/add">Add State</a> | <a href="../state/display">State Display</a>
</head>
<body>
{{!-- {{include('../header');}}  --}}
    <form method="post" action="add">
        <h1>Add City Record</h1>
        <table>
            <tr>
                <td>City Name</td>
                <td> <input type="text" placeholder="Enter City" name="city_name"></td>
            </tr>
            <tr>
                <td>Catgory</td>
                <td> 
                    <select name="_state">
                     
                       {{#each state_array}}
                            <option value="{{this._id}}">{{this.s_name}}</option>
                            {{!-- <option value="{{this._id}}">{{this.c_mobile}}</option> --}}
                       {{/each}}
                           
                        </select>
                </td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>